
:root {
    --bg-blue: #37b182;
    --bg-dark: #f7f7f7;
    --bg-black: #0a0b0b;
    --bg-night: #777b79;
    --color-white: rgb(255, 255, 255);
    --color-whitte-dark-p: #585d5c;
    --shadw-black-100: 0 5px 15px #224c464d;
}
