
:root {
    --bg-blue: #ec1839;
    --bg-dark: #faf0f0;
    --bg-black: #251f1f;
    --bg-night: #776363;
    --color-white: rgb(255, 255, 255);
    --color-whitte-dark-p: #5d5858;
    --shadw-black-100: 0 5px 15px #4c22224d;
}
